/* .myBtn:hover {
  cursor: pointer;
} */

/* The Modal (background) */
.modal {
  display: grid;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  transition: 1s;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: #e54f60;
  padding: 0 12px;
  border-radius: 50px;
  position: absolute;
  top: -15px;
  right: -15px;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: #3e4239;
}

.container {
  max-width: 350px;
  border-radius: 20px;
  padding: 40px;
  background: #ffffff;
  box-sizing: border-box;
  color: #3e4239;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 1s;
}

.container input[type='text'],
input[type='password'] {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 2px -2px #e54f60;
  padding: 12px 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.container input[type='submit'] {
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 100px;
  border-style: none;
  background-color: #fff;
  border-color: #d35866;
  border-style: inset;
  color: #d35866;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}

.container input[type='submit']:hover {
  background-color: #f34e62;
  color: #fff;
}

.container select {
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 2px -2px #e54f60;
  padding: 12px 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 5px;
  color: gray;
}

.container option {
  color: black;
}
