@import 'globals.css';
@import 'shop.css';
@import 'modal.css';
@import 'wrapper.css';
/* This is for the edit and delete icon */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

header {
  align-content: center;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 10px 50px rgba(238, 231, 231, 0.233);
  position: sticky;
  align-items: center;
  background-color: white;
}

.logo {
  float: left;
  filter: contrast(1.25);
}
.logo img {
  height: 65px;
  outline-style: none;
  transition: transform 0.5s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

.nav_links {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-size: 20px;
}

.nav_links li {
  float: left;
  align-items: center;
}

.nav_links a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #3e4239;
}

.nav_links p {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  font-size: 20px;
}

.nav_links button {
  padding: 2px 30px;
  margin-top: 5px;
  border-radius: 80px;
  border-style: none;
  background-color: #fff;
  color: #f34e62;
  font-size: 30px;
  outline-style: none;
  border-color: #d35866;
  border-style: inset;
  font-weight: 10px;
}

.nav_links button:hover {
  background-color: #f34e62;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

/* Change the link color to #111 (black) on hover */
.nav_links a:hover {
  background-color: none;
  opacity: 0.5;
}

.nav_links a:visited {
  color: rgb(138, 138, 138);
}

.fa:hover {
  background: white;
  color: tomato;
}

.nav_links input[type='submit'] {
  margin: 0;
  overflow: hidden;
  font-size: 20px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  border: none;
  cursor: pointer;
  background-color: white;
  outline: none;
  color: rgb(138, 138, 138);
}

.nav_links button {
  transition: 1s;
}
/* .nav_links input[type='submit']:hover {
  background-color: none;
  opacity: 0.5;
} */

.banner {
  max-width: auto;
  border-radius: 20px;
  padding: 40px;
  background: #ffffffe3;
  box-sizing: border-box;
  color: rgb(62, 66, 57);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 1s;
  margin-top: 30px;
}

.banner image {
  width: 30;
}

.banner h1 {
  font-size: 40px;
}

.banner h2 {
  text-decoration: line-through;
  text-transform: uppercase;
  font-size: 55px;
  color: #df293e;
}

.banner button {
  padding: 15px 30px;
  margin-top: 20px;
  border-radius: 100px;
  border-radius: 80px;
  border-style: none;
  background-color: #fff;
  color: #f34e62;
  font-size: 60px;
  outline-style: none;
  border-color: #d35866;
  border-style: inset;
  font-weight: 10px;
  /* padding: 30px 50px;
  margin-top: 10px;
  border-radius: 100px;
  border-style: none;
  background-color: #df293e;
  color: #fff;
  cursor: pointer;
  font-size: 60px;
  outline-style: none; */
}

.banner button:hover {
  background-color: rgba(112, 112, 112, 0.9);
  transition: 0.5s;
  color: #fff;
  background-color: #f34e62;
}

.about h2 {
  margin: 50px 50px 50px 50px;
  text-align: center;
  font-weight: lighter;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: gray;
  font-size: 100%;
  font-style: italic;
  overflow-x: hidden;
  padding-bottom: 5px;
  box-shadow: 10px 10px 50px rgba(238, 231, 231, 0.233);
}
