.wrapper {
  display: grid;
  width: 70%;
  min-height: 835px;
  background-color: rgba(245, 245, 245, 0.966);
  margin: 20px auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
}

.box1 {
  grid-column: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box2 {
  grid-column: 1/6;
  grid-row: 2/5;
  margin: 5px auto;
}

.box2 h2 {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.box3 {
  grid-column: 1/5;
  text-align: left;
  padding: 50px 100px;
  list-style: none;
}

.box3 h2 {
  margin-bottom: 20px;
}

.total td {
  background-color: rgba(64, 238, 136, 0.637);
}

.wrapper table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
  /* table-layout: fixed; */
  width: 100%;
  white-space: nowrap;
  min-width: 1000px;
}

.wrapper th {
  text-align: center;
  padding: 8px;
  background-color: #e54f60;
  color: #fff;
}

.wrapper td {
  text-align: center;
  border: 1px solid #dddddd;
  /* text-align: left; */
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.wrapper span {
  margin-right: 10px;
  margin-left: 10px;
}

.wrapper span:hover {
  cursor: pointer;
}

.uploadBtn {
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 100px;
  border-style: none;
  background-color: #fff;
  border-color: #d35866;
  border-style: inset;
  color: #d35866;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
  text-align: center;
}

.uploadBtn:hover {
  background-color: #f34e62;
  color: #fff;
}

.addBtn {
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 80px;
  border-style: none;
  background-color: rgb(22, 157, 235);
  color: #ffffff;
  font-size: 25px;
  outline-style: none;
  align-content: center;
  grid-column: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.addBtn:hover {
  cursor: pointer;
  grid-column: 3;
  background-color: rgb(29, 158, 87);
}
