.wrapper {
  display: grid;
  width: 70%;
  min-height: 835px;
  background-color: rgba(245, 245, 245, 0.966);
  margin: 20px auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
}

.box1 {
  grid-column: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box2 {
  grid-column: 1/6;
  grid-row: 2/5;
  margin: 5px auto;
}

/* .wrapper img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
} */

.wrapper h2 {
  text-align: center;
  padding: 20px;
}

.wrapper table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}

.wrapper th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.wrapper td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.wrapper span {
  margin-right: 10px;
  margin-left: 10px;
}

.wrapper span:hover {
  cursor: pointer;
}

.addBtn {
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 80px;
  border-style: none;
  background-color: rgb(22, 157, 235);
  color: #ffffff;
  font-size: 25px;
  outline-style: none;
  align-content: center;
  grid-column: 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.addBtn:hover {
  cursor: pointer;
  grid-column: 3;
  background-color: rgb(29, 158, 87);
}
